.subpage > .title {
    display: flex;
    border: 1px solid black;
    height: 8%;
    flex-direction: column;
    justify-content: space-around;
}

.subpage > .title h1 {
    text-align: right;
}

.semana {
    display: flex;
    border: 1px solid black;
    height: 46%;
    flex-direction: column;
}
.semana .row-1 {
    border: 1px solid black;
    height: 30px;
    padding: 3px 0;
}
.semana .row .title label{
    flex-direction: column;
    display: flex;
    justify-content: center;
    padding-left: 15px;
    color: #fff;
    width: 100%;
    font-weight: bold;
}
.semana .row .data label{
    background-color: #002b4e;
    width: 75%
}
.semana .row .tesouros label{
    background-color: #5a6a70;
}
.semana .row .faca-seu-melhor label{
    background-color: #c18626;
}
.semana .row .vida-crista label{
    background-color: #961526;
}
.semana .row .designacoes label{
    background-color: #002b4e;
    width: 90%
}
.semana .row-1 .presidencia {
}

/* style da linha e seus atributos */
.row {
    display: flex;
    width: 100%;
}
.row .col {
    display: flex;
    height: 100%;
}
.row .col:first-child {
    width: 60%;
}
.row .col:last-child {
    width: 40%;
}