<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Auto Lista Quarta Feira</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/print.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mwb.css') }}">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</head>
<body>
    <div class="book">
        <div class="page">
            <div class="subpage">
                <div class="title">
                    <h1>Programação da reunião de Terça-Feira</h1>
                    <h4>LS - Guaianases</h4>
                </div>
                <div class="semana">
                    <div class="row row-1">
                        <div class="col data">
                            <label>3 DE MAIO | 2 CORÍNTIOS 1 - 3</label>
                        </div>
                        <div class="col presidencia">

                        </div>
                    </div>
                </div>
                <div class="semana">

                </div>
            </div>    
        </div>
        <div class="page">
            <div class="subpage">Page 2/2</div>    
        </div>
    </div>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #FAFAFA;
            font: 12pt "Tahoma";
        }
        h1, h2, h3, h4, h5, h6 {
            margin: 0;
            padding: 0;
        }
        * {
            box-sizing: border-box;
            -moz-box-sizing: border-box;
        }
    </style>
    <script>
        //window.print();
    </script>
</body>
</html>